name: Docker Build and Render Deploy

on:
  push:
    branches:
      - feature/workflow 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/projet-web:latest

      - name: Trigger Render API Deploy
        run: |
          curl --request POST \
            --url https://api.render.com/deploy/${{ secrets.RENDER_SERVICE_ID }} \
            --header 'accept: application/json' \
            --header 'authorization: Bearer ${{ secrets.RENDER_API_KEY }}' \
            --header 'content-type: application/json' \
            --data '{"clearCache": "clear"}'
